%div{'data-role'=> 'page','data-url'=> "#{request.path}", id: 'privacy_policy', "data-dom-cache"=>"true"}
  = render 'layouts/mobile/panel'
  %div{"data-role" => "header"}
    = render 'layouts/mobile/header'
  .ui-content{role: "main", style:'padding-left:2px; padding-right:2px; padding-top:0px;'}
    atul  
  %div{"data-role" => "footer"}
    = render 'layouts/mobile/footer'
