.container
  .row-fluid.privacy
    .margin-bottom-30
    %h1.text-center
      Privacy Policy
    .margin-bottom-30
    %p.lead
      %em We value your privacy
      Please find below how we use your data
    %p
    %p Your privacy is important to us, hence we take protecting it seriously.Niblin respects and protects the privacy of the individuals that use Niblin's website and/or services. Individually identifiable information about you will never be wilfully disclosed to any third party without first receiving your permission or as explained in this privacy policy. If you cannot agree with the terms and conditions of this privacy policy, please do not use the Niblin website or any other application that is operated by Niblin.
    %br/
    %h4 Anonymous information:
    %p
      Niblin may collect some anonymous information to track your browsing movement to and within Niblin. This information includes access times, browser information, bug reports, geographical location, time zone, referring domain, internet protocol (IP) address, and other anonymous information that your computer may provide. We recommend that you don't include any private, or sensitive information in your profile, since it may become public. You agree that by your use of Niblin, you consent to the collection, use, and storage of this information by Niblin. 
 
    %br/
    %h4 Private information:
    %p 
      You may use certain features of Niblin without registering. However, to get access to all our features will need to register at which time you will be asked to provide certain information. This information is your email address, user name, and password. Only your user name, your posts and your comments will be visible to other users.
      %br
      We use your personal information to provide you a unique login and administer your inquiries. We may also use your email address to attempt to contact you if needed. 
    %br/
    %h4 Public information:
    %p
      User actions such as viewing, voting, and creation of native or link snaps (including submission of URLs to other websites), commenting, pinning are public activities, and will be visible to all Niblin members, guests and users. This also includes the information that you provide that is publicly displayed, such as your user name, banner and avatar (images). These user actions may also be posted to social networking websites, such as Facebook and Twitter for sharing purposes. All of this information is stored with the life of your account. 
    %h4 Changing or deletion of information:
    %p
      All registered Niblin users may review, update, correct or delete the information in their profile by contacting us or via the “Settings” section of the website.
      %br
      Niblin reserves the right to transfer, sell, or share its assets, in part or in entirety, which includes all stored information provided by our users. This may occur as a result of an acquisition, a merger, or a restructuring or sale, or in the event of liquidation. 
    %h4 Cookies:
    %p
      Snapzu will send "cookies" to your computer when browsing this website, which is a common practice on most websites. A cookie is a piece of data that is saved on your computer when browsing that identifies you as a unique user. Most browsers are automatically configured to accept these cookies. Snapzu uses these cookies to improve the quality of our service in various ways, such as by storing user preferences, and by tracking user trends and patterns of how people use the services that we provide. Snapzu will never disclose its cookies to third parties. Disabling cookies can be done in your browser, however some functionality of the website will not function correctly as intended to.
    %h4 External Links: 
    %p
      Snapzu is a social platform that may contain links to third party websites. All links are curated by other users using up and down voting, and Snapzu takes no responsibility on what URLs are linked from the feed, tribes, front page, or any other sections of the website. Snapzu does not take any responsibility for the privacy policy or practices of any third party websites located on another domain. These other websites may place their own cookies or other files on your computer, collect data or solicit personal information from you. It is encouraged that you read the privacy policies or statements of the other websites you visit if you are concerned about your privacy.
    %h4 Under 13 Policy:
    %p
      Users are not permitted to use the website if they are under the age of 13. Any accounts suspected of breaking this rule are subject to termination.
  .margin-bottom-30 
/ /container
/ === End Content Part ===