/ === Content Part ===
.container
  .row-fluid.privacy
    .margin-bottom-30
    %h1
      Terms of Use
    .margin-bottom-30

    %p 
      You must agree these terms of services before using site or any services provided on the site. If you do not accept this agreement, you may not use Niblin or it's services.

    %br/
    %h4 Access to Service
    %p
      Niblin is a link sharing and content publishing platform, and all members are responsible for all of their activities on the Niblin website and applications. Niblin has the right to change, modify, discontinue or terminate any services at any time including certain features, or any other content. Niblin also reserves the right, at our sole discretion, to modify or replace any of these Terms of Use at any time. We may also impose limits on certain features of Niblin or restrict your access to parts or all of Niblin, without notice or liability.

    %br/
    %h4 Eligibility
    %p By using the Niblin service, you are representing and warranting that you are at least 13 years of age. If you are under age 13, you may not, under any circumstances, use Niblin by any means. You are solely responsible for ensuring that these Terms of Use are in compliance with all the local laws, rules and regulations applicable to you. 
    
    %br/
    %h4 Account Security
    %p      
      You are solely responsible for the activity that occurs on your account, and you are not permitted to use another account without permission. If you suspect a breach of security of your account, you must notify us immediately. You should never publish, distribute, share, or post your account's login information. Niblin is not liable for any loss or damage that results from a compromised password. 
    %br/
    %h4 Definition of content:
    %p      
      For purposes of these Terms of Use, the term "content" includes, without limitation: URLs, curated URLs, video clips, audio clips, written posts and comments, text or data, web pages, images, software, graphics, and interactive features generated, provided, or otherwise made accessible on or through Niblin. 
    %br/
    %h4 User content:
    %p      
      All content you post may be able to be viewed by other users of Niblin, including any third parties, and should be considered publicly available for anyone to see. Niblin is a content discovery service which supports and promotes the sharing, use and re-use of content being posted. You own your content, and you retain your rights to all content you make available, however, by making content public, you grant Niblin a non-exclusive, worldwide royalty-free license to use, copy, display, process, modify, publish, broadcast, transmit, exhibit such content in any and all media, and to distribute it by all distribution methods. When you delete your user content, it will be removed from Niblin, however, you understand that any removed user content may persist in backup copies for a reasonable period of time.
      %br
      By using Niblin, you agree not to make available content that is threatening, harmful, unlawful, abusive, harassing, or libelous. This includes content that falsely impersonates a person or entity, falsely misrepresents your affiliation with a person or entity, allows use of the services by others in a way that violates these terms, or infringes patent, trademark, copyright or other proprietary rights of any corporation, user, or party. 
    %br/
    %h4 Our content:
    %p      
      Niblin may display content specifically provided by us or our partners in form of advertising. This such content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws.
    %br/
    %h4 Responsibilities:
    %p      
      You are responsible for any links or content that you post on the website. Niblin does not take any responsibilities for any content posted from subscribers, and reserves the rights to remove any content at any time, or suspend any services at any time without prior notice. Because of the vast amount of content provided by our users, Niblin cannot review the content that is provided by our members. Any material downloaded or otherwise obtained through the use of Niblin is accessed at your own discretion and risk, and Niblin does not take responsibility for it.
    %br/
    %h4 Limitation of Liability:
    %p      
      YOUR USE OF THE NIBLIN SERVICES SHALL BE AT YOUR SOLE RISK. THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. NIBLIN AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.  
      %br
      YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, NEITHER NIBLIN NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICE WILL BE LIABLE FOR ANY DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (I) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (II) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (III) ANY CONTENT OBTAINED FROM OR THROUGH THE SERVICE; AND (IV) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT NIBLIN HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
      %br
      IN NO EVENT WILL NIBLIN’S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICE OR ANY CONTENT AVAILABLE ON OR THROUGHT THE SERVICE EXCEED FIFTY DOLLARS ($50). THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN NIBLIN AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
    %br/
    
  / /row-fluid
/ /container
/ === End Content Part ===