-user_feed_1 = session[:user_feed]
-# Rails.configuration.client.feed("notification:#{current_user_id}")
-#result = user_feed_1.get(:limit=>2, :offset=>0, :mark_seen=> true)
-result = @userfeed
-#activity_data = {:actor => 2, :verb => 'pin', :object => 1, :target => 8, :time=> Time.now.strftime("%Y-%m-%dT%H:%M:%S.%L")}

-#add = user_feed_1.delay.add_activity(activity_data)
%table.table
	=result['results'][1]
	
	-result['results'].each_with_index do |r,i|
		%tr
			%td
				%table
					%thead
						%td
							%strong actor
						%td
							%strong verb
						%td
							%strong target
						%td
							%strong time
						%td
							%strong id



					-r['activities'].each do |a|
						
						%tr
							%td
								=a["actor"]
							%td
								=a["verb"]
							%td
								=a["target"]
							%td
								=a[""]
							%td
								=a["time"]
							%td
								=a["id"]	
			%td
				Is Seen->
				=r['is_seen']
			%td
				Is read ->
				=r['is_read']
			%td
