%div{"data-role" => "header"}
  %a.ui-btn.ui-icon-bullets.ui-btn-icon-notext.ui-corner-all{href: "#"} No text
  =image_tag 'logo_90.png', class: 'ui-title'
  =link_to 'Sign up/Login', new_user_registration_path, class: 'ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-user'
  
