-@tribes = Tribe.all.order('priority asc')
%div{"data-role" => "header"}
	%ul
		%a.ui-btn.ui-shadow.ui-btn-left.mobile-tribe-drpdwn{"data-rel" => "popup", "data-transition" => "pop", href: "#tribeMenu"}
			= if @tribe.nil? then 'All' else @tribe.name end
			=fa_icon 'caret-down'
		#tribeMenu{"data-role" => "popup", "data-theme" => "a"}
			%ul{"data-inset" => "true", "data-role" => "listview", style: "min-width:210px;"}
				%li{style:'min-width:210px;'}
					=link_to "All", root_path, 'data-ajax'=> false
				-@tribes.each do |tr|
					%li{style:'min-width:210px;'}
						=link_to tr.name, tr, 'data-ajax'=> false

		.center-wrapper
			%span{style:'position:relative; margin-left:-50px;'}
				=link_to image_tag('logo_90.png', alt: 'logo'), root_path
		-if user_signed_in?
			%a.ui-nodisc-icon.ui-alt-icon.ui-btn-right.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corener-all{href:"#rightpanel3"}
		-else
			=link_to 'Sign up/Login', new_user_session_path, class: 'ui-btn-right ui-btn ui-btn-inline ui-mini mobile-signup-btn', 'data-transition'=> 'pop', 'data-prefetch'=> true
