%div{"data-role" => "header"}
	=image_tag 'logo_90.png', class: 'ui-title'
	-if user_signed_in?
		%a.ui-nodisc-icon.ui-alt-icon.ui-btn-right.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corener-all{href:"#rightpanel3"}
	-else
		=link_to 'Sign up/Login', new_user_session_path, class: 'ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-user', 'data-transition'=> 'pop'
  
