#rightpanel3.ui-panel.ui-panel-position-right.ui-panel-display-overlay.ui-body-b.ui-panel-animate.ui-panel-closed{"data-display" => "overlay", "data-position" => "right", "data-role" => "panel", "data-theme" => "b"}
  .ui-panel-inner
    %h3 Right Panel: Overlay
    %p
      This panel is positioned on the right with the overlay display mode. The panel markup is
      %em after
      the header, content and footer in the source order.
    %p To close, click off the panel, swipe left or right, hit the Esc key, or use the button below:
    %a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a.ui-icon-delete.ui-btn-icon-left.ui-btn-inline{"data-rel" => "close", href: "#demo-links"} Close panel