#rightpanel3{"data-display" => "overlay", "data-position" => "right", "data-role" => "panel", "data-theme" => "a"}
	%h3
	-if user_signed_in?
		.center-wrapper
			%a.ui-btn.ui-corner-all.ui-icon-home.ui-btn-icon-left
				=current_user.username
	.ui-panel-inner
		%ul.ui-listview
			%li.mobile-panel-cont
				%div
					=link_to 'Submit a link', new_temp_path, class: 'ui-btn ui-shadow ui-corner-all ui-btn-b ui-icon-plus ui-btn-icon-left mobile-submit-btn', 'data-ajax'=> false
			
			%li.mobile-panel-cont
				=form_tag search_path, :method => 'get' do
					.ui-field-contain#mobile-search
						%input#search{name: "searchquery", placeholder: "Search Posts", type: "search", value: ""}/

			%li.mobile-panel-cont
				.center-wrapper
					=link_to "Edit Profile", edit_user_registration_path, class: 'ui-btn ui-shadow ui-icon-edit ui-btn-icon-left'
			%li.mobile-panel-cont
				.center-wrapper
					=link_to "My Account",current_user, class: 'ui-btn ui-shadow ui-icon-user ui-btn-icon-left'
			%li.mobile-panel-cont
				.center-wrapper
					=link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'ui-btn ui-shadow ui-icon-power ui-btn-icon-left'
			%li.mobile-panel-cont
				
				%a.ui-btn.ui-shadow.ui-corner-all.ui-icon-delete.ui-btn-icon-left.ui-btn-inline{"data-rel" => "close", href: "#demo-links"} 
					.center-wrapper
						Close panel