.row
	.margin-bottom-10
	.col-md-2
		=render 'layouts/sidebar'
	.col-md-10
		.tribe-post-cont
			-if @post_index or @tribe_show
				=render 'layouts/index'
			-@posts.each do |p|
				= render 'posts/post', :p=> p
					
			=paginate @posts
