.panel.panel-default{id: "comment_#{comment.id}"}
	%h3
		= comment.title
	%ul
		%li.comment_box
			.row
				.col-xs-1.col-md-1.text-center
					.row
						=link_to upvote_post_comment_path(@post, comment), method: 'put' do
							=fa_icon "arrow-up", class: 'h5'
					.row
						=comment.likes.size-comment.downvotes.size
					.row
						=link_to downvote_post_comment_path(@post, comment), method: 'put' do
							=fa_icon "arrow-down", class: 'h5'

				.col-xs-11.col-md-11
					=comment.hotness
					%p
						= comment.body
					-if user_signed_in? && current_user_commenter?(comment)
						=link_to "Delete", delete_post_comment_path(@post, comment), method: "delete"
					
					#reply
						%a{style: 'cursor:pointer', onclick: '$(this).parent().next().show(); $(this).parent().hide();'} Reply
					#child{style: "display:none;"}
						=form_tag add_child_comment_path, method: :post, class: 'form-horizontal' do
							.form-group
								=label_tag 'comment', 'Comment',class: 'col-md-2'
								.col-md-6
									=text_area_tag 'comment','', class: 'form-control'
							=hidden_field_tag 'parent_id', comment.id
							=hidden_field_tag 'post_id', @post.id 
							.form-group
								.col-md-offset-2
									=submit_tag 'Submit', class: 'btn'
						%a{onclick: "$(this).parent().hide();$(this).parent().prev().show()", id: 'cancel', style: 'cursor:pointer'}
							Cancel
		= render :partial => 'partials/comment', :collection => comment.children.order('created_at desc')

