%div{id: "comment_#{comment.id}"}
	%h1
		= comment.title
%ul
	%li
		= comment.body
		*** No of votes ***
		=comment.likes.size
		=link_to "Upvote", upvote_post_comment_path(@post, comment), method: "put"
		=link_to "Downvote", downvote_post_comment_path(@post, comment), method: "put"
		-if current_user_commenter?(comment)
			=link_to "Delete", delete_post_comment_path(@post, comment), method: "delete"
		
		%div{onclick: '$(this).next().show()'}
			Reply
		#child{style: "display:none;"}
			=form_tag add_child_comment_path, method: :post do
				=label_tag 'comment'
				=text_area_tag 'comment'
				=hidden_field_tag 'parent_id', comment.id
				=hidden_field_tag 'post_id', @post.id 
				=submit_tag 'Submit'
			%a{onclick: "$(this).parent().hide();"}
				Cancel
		= render :partial => 'partials/comment', :collection => comment.children
