#create-link-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content{id: 'create-link-modal-dialog'}
      .modal-body
        %button.close.font-white{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          .font-white
            %strong x
        %h3.modal-title.font-white
          %strong Submit a link
        .row
          .col-md-12
            %p.font-white
              Enter the link of an article, image or video
            =form_tag new_post_path, class: 'form form-horizontal', role: 'form', method: 'get' do
              .form-group
                .col-md-8
                  =url_field_tag 'url', '', type: 'email', class: 'form-control', placeholder: 'http://'
                =submit_tag 'Refine & Submit', class: 'btn btn-success control-label'
        

:javascript
  $(function() {
    $(' #post_tags_list').select2({tags:[],tokenSeparators: [",", " "]})
  });

          