.row
	.col-md-12.user-post-cont
		.row
			.col-md-1.text-center
				.row
					=fa_icon "chevron-up"
				.row
					=p.netvotes
				.row
					=fa_icon "chevron-down"
			
			.col-md-11
				.row
					.col-md-10
						%strong
							=link_to "#{p.title}", p
							
					.col-md-2
						%span
							%strong
								(
								=pluralize(comment_count(p.id), 'comment')
								)
						
				.row
					.col-md-12
						
						%p
							Submited
							=time_ago_in_words(p.created_at)
							ago 
							-if p.tribe
								to
								%strong
									=p.tribe.name



			
	
