.row
	.margin-bottom-10
	.col-md-12
		%div{style:'background-color:white; margin-left:15px; margin-right:15px; padding-top:4px; padding-bottom:4px; '}
			.custom-center
				%h4
					=@st_tribe.name
	.margin-bottom-10

.row
	
	.col-md-2
		=render 'layouts/sidebar'
	.col-md-10
		.tribe-post-cont
			=render 'layouts/st_index'
			-@posts.each do |p|
				= render 'posts/post', :p=> p
			=paginate @posts
