.panel.panel-default.post_panel
	.row
		.col-xs-1.col-md-1.text-center
			.up-down-vote-box
				.row
					=link_to upvote_post_path(p), method: 'put' do
						%span.glyphicon.glyphicon-arrow-up
				.row
					.net-vote
						%strong 
							=p.likes.size-p.downvotes.size
				.row
					=link_to downvote_post_path(p), method: 'put' do
						%span.glyphicon.glyphicon-arrow-down
		.col-md-2
			=image_tag p.pic.url(:thumb), alt: 'post photo'
		.col-xs-9.col-md-7
			%h4
				=link_to "#{p.title}", p.link, target: '_blank', class: 'title-of-link'
				-if p.source?
					.source_link
						(
						=p.source
						)
			.link_descrip
				=p.description
			.row.post_footer
				.col-md-8
					.submited_ago_cont
						submited
						=time_ago_in_words(p.created_at)
						ago by
						=link_to p.user.username, p.user
				.col-md-4
					.pull-right
						-if user_signed_in? && current_user_poster?(p)
							=link_to "delete", delete_post_path(p), method: "delete", class: 'delete-post'

			.row
				.col-md-12.tag-cont
					-tags = p.tag_list
					-if !tags.empty?
						%ul.list-inline
							Tags:
							-tags.each do |t|
								%li
									=link_to t, tag_path(t), class: 'label label-info'
		.col-xs-2.col-md-2
			=button_to pluralize(comment_count(p.id), 'comment'), p, class: 'btn btn-default  comments-btn', method: 'get'