.row
	.col-md-6.col-md-offset-3
		=render 'layouts/messages'
.margin-bottom-10
.row
	.col-md-12
		%div{style:'padding-left:15px;'}
			=render 'layouts/trending_tribes'
	.margin-bottom-10
.row
	.col-md-2
		=render 'layouts/sidebar'
	.col-md-10
		#index-post-container
			-if @post_index or @tribe_show
				=render 'layouts/index'
			-@posts.each do |p|
				= render 'post', :p=> p
			=paginate @posts
	
.margin-bottom-60
:javascript
	$('.vote-arrow').click(function(){
		var signed_in = #{user_signed_in?};
		if(signed_in){
		}
		else{
			
			notify('Please Sign in to vote!', 'error', 2000);
		}
	});
