.row
	.col-md-6.col-md-offset-3
		=render 'layouts/messages'
.row{id: 'index-post-container'}
	.col-lg-10.col-md-10.col-sm-10.col-xs-10{style:'padding-left:30px; padding-right:20px;'}
		-@posts.each do |p|
			= render 'post', :p=> p
		=paginate @posts
	.col-lg-2.col-md-2.col-sm-2.col-xs-2{style: 'padding-right:20px;'}
		#accordion-1.panel-group.acc-v1
			.panel.panel-default
				.panel-heading
					%h4.panel-title.text-center
						%a.accordion-toggle.collapsed{"data-parent" => "#accordion-1", "data-toggle" => "collapse", href: "#collapse-One"}
							Rules
							=fa_icon "sort-down"
			#collapse-One.panel-collapse.collapse
				.panel-body
					.row
						%ul.rules-list-cont
							%li.rules-list
								%strong
									No Posting of personal Information
								This will include anything that is hosted on Facebook servers, as it can be traced back to the original account. No Stalking and harrasment.
							%li.rules-list
								%strong
									No nudity, porn or gore
							%li.rules-list
								%strong
									No Post titles or description soliciting votes
							%li.rules-list
								%strong
									No personal attacks on other users
							%li{style:'color:red;'}			
								Breaking any of the above rules can lead to the user getting banned

.margin-bottom-60