.row
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
	.clearfix.visible-xs
	.col-xs-6.col-md-4 .col-xs-6 .col-md-4
%h1
	This is the home page
=link_to "Sign out", destroy_user_session_path, method: "delete"
=link_to "New Post", new_post_path
%table
	-@posts.each do |p|
		%tr
			%h3

				=link_to("#{p.title}", post_path(p))
				**
				=link_to "Upvote", upvote_post_path(p), method: "put"
				=link_to "Downvote", downvote_post_path(p), method: "put"
				*** 
				Hotness
				****
				=p.hotness
				-if user_signed_in? && current_user_poster?(p)
					=link_to "Delete", delete_post_path(p), method: "delete"
				Number of upvotes - 
				=p.likes.size
				Comments are - 
				=comment_count(p.id)