.panel-body
	=form_tag search_path, :method => 'get', class: 'form-horizontal' do
		%label.col-md-6.control-label
			Search Posts:
		.form-group
			.col-md-6
				=text_field :searchquery, '', class: 'form-control'
		.form-group
			.col-md-3.col-md-offset-6
				=submit_tag :submit, class: 'btn btn-default form-control'

.col-md-10
	#index-post-container
		-@post.each do |p|
			= render 'post', :p=> p
		=paginate @post