.row{id: 'comments-page-cont'}
	.col-md-10.col-md-offset-1
		- flash.each do |key, value|
			= content_tag(:div, value, class: "alert alert-#{key}")
		%h2
			=link_to @post.title, @post.link, target: '_blank', class: 'post-title-comment-page'
		.row
			.col-md-8
				=@post.description
			.col-md-2
				.user-detail-box-comment-page
					Submited
					=time_ago_in_words(@post.created_at)
					ago by
					%strong 
						=link_to @post.user.username, @post.user
		-if user_signed_in?
			=form_tag add_comment_path, method: :post, class:'form-inline' do
				.form-group
					=label_tag 'Comment'
				.form-group
					.col-md-10
						=text_area_tag 'comment',"", type:'text', class: 'form-control write-comment-box-desktop'
				=hidden_field_tag 'post_id', @post.id
				=submit_tag 'Submit', class: 'btn btn-success'
		-else
			%h4
				=link_to('Sign in to add comments or to reply to comments', new_user_session_path) 

		-if !@root_comments.empty?		
			=render 'layouts/show'
			#comments
				-@root_comments.each do |comment|
					=render :partial => 'comment', :object => comment
		-else
			.row
				.col-md-6.col-md-offset-2
					%p
						&nbsp
						Be the first one to comment
		.div{style:'margin-bottom:60px;'}		

	
