/* Global styling*/


#main-container{
	padding:0px;
	background-color:white;
}
body{
	/*background-image: image-url('login-bck.jpg'); */
	background-color: #E5E5E5;

}

#header-top-img-cont{
	background-image:url('main-banner.jpg');
	/* background-color:#2ecc71; */
	min-height:100px;
	margin-bottom:0px;
}

#header-top-img-cont > .overlay-header {
    z-index: 1;
    min-height:100px;
    background: rgba(46, 204, 113,0.5); /*can be anything, of course*/
}

#top-nav-create-btn-cont{
	padding-top:1px;
	padding-left:10px;
}
.main-tag-line{
	text-align:center;
	font-size:30px;
}
#intro-line{
	color:white;
	font-size:50px;
	padding-top:20px;
	text-shadow: rgba(0,0,0,0.1) 0px 1px 0px;
}
#post-show-top-img-cont{
	background-image: url('post-show-bck.jpg');
	min-height:150px;
	margin-bottom:0px;
}
#post-show-top-img-cont > .overlay-post-show{
	z-index: 1;
    min-height:150px;
    background: rgba(0, 0, 0, 0.2); /*can be anything, of course*/
}


.custom-center{
	text-align:center;
}
.background-white{
	background-color: white;
}
.font-white{
	color:white;
}
.hidden-div{
	display:none !important;
}
.color-light-green{
	color:#7DDE50 !important;
}

/* Header styling */
#top-nav{
	margin-bottom:0px;
	background-color:white;
	border-radius:0px;
}
#tribe-navigation{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	background-color: #00AEEF;
	min-height:40px !important;
	border-radius:0px;	
	z-index:999;
}
.tribe-nav-links{	
	padding-top:10px !important;
	padding-bottom:0px !important;
	/*border-bottom: 5px solid #FFF;*/
	font-size:18px;
	font-weight:bold;
	&:hover{
		border-bottom: 5px solid #7DDE50;
		color:#7DDE50;
	}
	color: 	white ;
}

.tribe-nav-links.active{
	color:#003399;
	border-bottom: 5px solid #003399 !important;
}
#refine-nav{
	padding-top:0px;
	padding-bottom:0px;
	box-shadow: 0px 2px 2px #D8D8D8;
	background-color:#FFFFFF;
	min-height:20px;
	border-radius:0px;
	z-index:999;
}
#hot-btn{
	font-size:10px;
}
.refine-link{
	padding-top:0px;
	padding-bottom:0px;
	font-size:14px;
}
.refine-link > a{
	color: #6E1101;
	font-weight:bold;
	padding-top:7px !important;
	padding-bottom:7px !important;
	&:hover{
		border-bottom: 5px solid #00AEEF !important;
	}
}

.refine-top > li.active > a{
	color:#772011 !important;
	background-color:white !important;
	border-bottom: 5px solid #00AEEF !important;
}
.refine-top{
	padding-top:0px;
}

#submit-new-link{
	padding-top:8px;
	padding-bottom:8px;
	margin-top:3px;
}
#submit-new-link-refine{
	padding-top:8px;
	padding-bottom:8px;
	margin-top:3px;	
	margin-bottom:5px;
}

.remove-grey-bck-nav{
	background-color:white !important;
}
#duration-header .navbar{
	margin: 0px;
	padding: 0px;
}

.refine{
	padding-top:15px;
	padding-bottom:0px;
}
#user-name-nav{
	padding-top:15px;	
}

#create-link-modal-dialog{
	background-color:black !important;
	opacity: 0.90 !important;
}
.fade.in{
	opacity: 0.9 !important;
}
.modal-content{
	margin-left:-100%;
	margin-right:100%;
	margin-top:0%;
	margin-bottom:0%;
}

/* Footer */
#footer{
	margin-top:0px;
}


/* index page */
.rules-list-cont{
	padding-left:0px;
}
.rules-list{
	text-align:justify;
}

.vote-arrow{
	color:#333339;
	&:hover{
		color:#E67E2A;
	}
}
.upvoted{
	color:#E67E2A;
}
.downvoted{
	color:#7ABA7A;
}

.post-container{
	padding-top:0px !important;
	padding-bottom:0px !important;
	margin-bottom: 15px !important;
}
.post-mid-part{
	border-right:1px solid #E5E5E5;
	padding-top:0px !important;
	padding-left:10px;
}
.vote-cont{
	padding-left:5px !important;
	padding-right:5px !important;	
}

.post-heading{
	font-size:16px;	
}
.post-image-cont{
	padding-top:20px;
	padding-right:20px;
	padding-left:0px !important;
}
.cmnt-indx-cont{
	padding-top:5px;
}
#index-post-container{
	margin-top:0px;
	background-color:white !important;
}
.post_panel{
	border-radius:0;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	margin-bottom:15px;
}
.link_descrip{
	font-size:13px;
}
.source_link{
	font-size: 12px;
	color: gray;
}
.title-of-link{
}
.comments-btn{
	font-size: 13px !important;
	color:#428bca;
}
.top-cmnt-indx{
	font-size:13px;
	color: #333339;
}
span.glyphicon-arrow-up{
	font-size:	2em;
}
span.glyphicon-arrow-down{
	font-size:	2em;
}
.net-vote{
	margin-top:10px;
	margin-bottom:10px;
}
.up-down-vote-box{
	padding-top:15px;
}
.post_footer{
	border-top:1px solid #E5E5E5;
}
.submited_ago_cont{
	font-size:12px;	
}
.tag-cont{
	padding-top:5px;
}
.delete-post{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#646464;		
}

.comment-links{
	background-color:white;
}
/* comments page */
.user-detail-box-comment-page{
	border-left:1px solid black;
	padding-left:10px;
}
.media-body{
	padding-left:0;
}
.comment-container{
	padding-left: 12px;	
	border-left:1px dotted #A0A0A0;
}

#comments-page-cont{
	background-color:white !important;
}

#comments-title{
	color:white;
	font-size:70px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}
.comment-nav-links{
	padding-right:3px;
	padding-left:3px;	
}

#comments{
	margin-top:10px;
	background-color:white;
	padding-left:15px;
	padding-top:10px;
}
.comment-box{
	 list-style-type: none;
}
.comment-body{
	font-size:12px;
}
.reply-link{
	font-size:12px;	
	padding-left:10px;
}
.delete-link{
	font-size:12px;
	padding-left:5px;
}
.report-link{
	font-size:12px;
	padding-left:13px;
}
.commenter-name{
	font-size:13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.write-comment-box-desktop{
	min-width:450px;
}
.post-title-comment-page{
	font-family: 'Roboto', sans-serif;
	color: #4D4D4D;
}

/* Login page */
#login-pg-cont{
	background: url('login-bck.jpg');
}

/* user page */
#user-page-margin{
	margin-bottom:400px;
}