/* Global styling*/
body{
	background-image: image-url('bck.png');
}
.custom-center{
	text-align:center;
}
.background-white{
	background-color: white;
}
.font-white{
	color:white;
}
.hidden-div{
	display:none !important;
}
.color-light-green{
	color:#7DDE50;
}

/* Header styling */
#duration-header .navbar{
	margin: 0px;
	padding: 0px;
}
.tribe-nav-links{	
	border-bottom: 5px solid #FFF;
	&:hover{
		border-bottom: 5px solid #7DDE50;
	}
}
.tribe-nav-links.active{
	border-bottom: 5px solid #7DDE50 !important;
}


#create-link-modal-dialog{
	background-color:black !important;
	opacity: 0.90;
}