.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}

/* index page */
.mob-post-container{
	padding-left:5px;
	padding-right:2px;
	padding-top:8px !important;
	padding-bottom:8px !important;
	margin-bottom:10px;
}
.mob-vote-box{
	float:left;
	padding:0px;
}
.mob-vot-arrow{
	padding:0px;
}
.mobile-title-link{
	font-size:13px;
	text-align:justify;
}
.mobile-report-post{
	font-size:12px;
}
.mobile-comment-cont{
	font-size:12px;
}
.mobile-label{
	color:white !important;
}
.mobile-show-title{
}
.mobile-post-descrip{
	font-size:13px;
}
.mobile-img-cont{
	padding-left:5px;
	padding-right:5px;
}
.mobile-write-comment-cont{
	padding-right:10px;
	padding-left:10px;
}
.mobile-comment-container{
	padding-left: 10px;	
	border-left:1px dotted #A0A0A0;
}
.mobile-report-comment{
	font-size:12px;
}
.mobile-net-vote{
	font-size:12px;
}
.mobile-logo{
}
.mobile-dr-active{
	background-color:#585F69 !important;
	opacity:0.9 !important;
	color:white !important;
}
.mobile-signup-btn{
	padding-left:2px;
}
.mobile-pagination{
	font-size:12px !important;
	background-color:black;	
}
.mobile-tribe-drpdwn{
	padding-left:5px;
}
.mobile-vote{
	padding-left:5px;

}
.mobile-net-vote{
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.mobile-upvote-btn{
	background:none;
	border:none;
}
.mobile-downvote-btn{
	background:none;
	border:none;
}