// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-input{
	width:365px;
	padding-left:0px;
}

.post-img{
	margin-top:5px;
}

.panel-cont{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #E9EAED;
}

/* show page */
.comment_time{
	font-size:10px; 
	font-weight:normal;
	padding-left:10px;
}
.tag{
	border:1px solid #E5E5E5;
 	border-radius: 3px !important;  
 	-webkit-border-radius: 3px !important; 	
 	-moz-border-radius: 3px !important;
	color: #636363;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:6px;
	padding-right:6px;

	&:hover{
		background-color:#F2F2F2;
		a{
			text-decoration:none;
		}
	}
}