// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-nav{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	background-color: #00AEEF;
	border-radius:0px;
	z-index:999;	
}
#user-page-margin{
	margin-bottom:400px;
}