!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title RailsCasts Weekly
    :css
      body{
        background-color:white;
      }
      #background{
        background-color: #5C4384;
      }
      body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
      .divider { background-color:#555555; height:2px; }
      .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
      .episode p { margin:8px 0; }
      .episode img { border:solid 1px #777777; }
      .episode .duration { font-size:11px;color:#555555; }
      #footer { font-size:11px; color:#555555; }
      #footer a { color:#555555;}
  %body
    %table
      %tr#background
        %td
          %h2{ style: "color:white;"}
           	Brand Name  
      %tr
        %td
         	Hello #{@resource.email}!
        %td
      %tr
        %td
          Someone has requested a link to change your password. You can do this through the link below.
          %a{href: '#', style: "color:#72C02C"}
            %h4
              =link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token)
      %tr
        %td
          %p
            If you didn't request this, please ignore this email.
          %p
            Your password won't change until you access the link above and create a new one.
      
      %tr
        %td
          %h3
            Help others see different view points about the news
            
          %h5
            Start sharing, voting and Commenting

