!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Unlock your account email
    :css
      body{
        background-color:white;
      }
      #background{
        background-color: #5C4384;
      }
      body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
      .divider { background-color:#555555; height:2px; }
      .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
      .episode p { margin:8px 0; }
      .episode img { border:solid 1px #777777; }
      .episode .duration { font-size:11px;color:#555555; }
      #footer { font-size:11px; color:#555555; }
      #footer a { color:#555555;}
  %body
    %table
      %tr#background
        %td
          %img{url: "http://www.niblin.com/assets/logo_150.png"}
          
          =#image_tag 'logo_150.png', alt: 'Niblin-logo', height:40
      %tr
        %td
          Hello #{@resource.email}!
        %td
      %tr
        %td
          Your account has been locked due to an excessive number of unsuccessful sign in attempts.
          %p
            Click the link below to unlock your account:
          %a{href: '#', style: "color:#72C02C"}
            %h4
              =link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @token)

      
      %tr
        %td
          %h3
            Help others see different view points about the news
            
          %h5
            Start sharing, voting and Commenting

