/ === Footer ===
.footer{id:'footer'}
  .container
    .row
      .col-md-4.md-margin-bottom-40
        / About
        .headline
          %h2 About
        %p.margin-bottom-25.md-margin-bottom-40 
          Niblin is a community of news nibblers. We believe that everything needs to be taken with a pinch of salt and hence there should be a discussion on every news.
          %br
          %strong
            We share relevant links, vote on their relevance and have a healthy discussion on it !!!
      / /col-md-4
      .col-md-4.md-margin-bottom-40
      
      / /col-md-4
      
      / /col-md-4
    / /row
  / /container
/ /footer
/ === End Footer ===
/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2013 © Niblin. ALL Rights Reserved.
          %a{href: "#"} Privacy Policy
          |
          %a{href: "#"} Terms of Service
      .col-md-6
        =link_to image_tag('niblin.png', id: 'logo-footer', class: 'pull-right', height:15), root_path
        
    / /row
  / /container
/ /copyright
/ === End Copyright ===
/ JS Global Compulsory