-@tribes = Tribe.all.order('priority asc')
%nav.navbar{role: "navigation", id: 'top-nav'}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: root_path, style: "padding-top:5px;"} 
      =image_tag 'logo_150.png', height: 45
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li{id: 'top-nav-create-btn-cont'}
        =link_to (fa_icon "plus-circle", class: 'color-light-green', text: 'Submit a new link'), '#',  id: 'submit-new-link','data-toggle'=>"modal" ,'data-target'=>"#create-link-modal", class: 'btn btn-default top-nav-create-btn'
      
    %ul.nav.navbar-nav.navbar-right
      %span{style:'margin-right:7px;'}
      -if user_signed_in?
        %li
          .btn-group{style: 'cursor:pointer;'}
            #user-name-nav{"data-toggle" => "dropdown", href: "#", "data-toggle"=>"dropdown", "data-hover"=>"dropdown", "data-delay"=>"10","data-close-others"=>"false"}
              =fa_icon "user"
              =current_user.username
              =fa_icon "caret-down"
            %ul.dropdown-menu.user-drp-dwn
              %li
                =link_to 'My Account', current_user
              %li.divider
              %li
                =link_to 'Sign out', destroy_user_session_path, method: 'delete'      
      -else
        %li
          =link_to "Sign Up", new_user_registration_path, style:'font-weight:bold;'
        %li.devider
        %li
          =link_to('Login', new_user_session_path, style: 'font-weight:bold;')



/ Modal
=render 'partials/create_link_modal'
-##notify
-if user_signed_in?
  :javascript
    $(function(){
      var pusher = new Pusher('6b2448376d4955fa296c');
      var channel = pusher.subscribe("private-#{current_user.id}");

      channel.bind('comment_upvote', function(data) {
          msg = data.by + ' has upvoted your comment ' + data.id;
          dom_notify(msg);
        });

        function dom_notify(msg) {
          $('#notify').text(msg);
          $('#notify').fadeIn();
          setTimeout(function() {
            $('#notify').fadeOut
            ();
          }, 2000);
        }
    });