.panel.panel-default
  .panel-body
    %ul.nav.navbar-nav
      %li
        %a{href: '#'}
          All
      %li
        %a{href: '#'}
          Politics
      %li
        %a{href: '#'}
          Entertainment
      %li
        %a{href: '#'}
          Sports
      %li
        %a{href: '#'}
          Business
.panel
  .panel-body
    %ul.nav.navbar-nav
      %li
        %a{href: '#'}
          Hot
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Top
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Today
          %li.divider
          %li
            %a{href: "#"} This Week
          %li.divider
          %li
            %a{href: "#"} This month
          %li.divider
          %li
            %a{href: "#"} This year
          %li.divider
          %li
            %a{href: "#"} All Time
      %li
        %a{href: '#'}
          New

  =link_to 'Submit a New link', new_post_path