.row{id:'header-top-img-cont'}
	.col-md-12.overlay-header
		.row
			.col-md-10.col-md-offset-1
				%h1
					#intro-line.text-center
						Share
						&nbsp
						=fa_icon "hand-o-right", style: 'font-size:35px;'
						Vote
						&nbsp
						=fa_icon "hand-o-right", style: 'font-size:35px;'
						Discuss
				.margin-bottom-20