.row
	.col-md-4{id: 'comment-links'}
		%ul.nav.nav-pills
			%li{class: "#{'active' if @type == 'top'}"}
				=link_to "Top", p(type:'top')

			%li{class: "#{'active' if @type == 'best'}"}
				=link_to "Best", p(type:'best')
			

			

		
