.row{id:'header-top-img-cont'}
	.col-md-12.overlay-header
		.row
			.col-md-10.col-md-offset-1
				.margin-bottom-20
				%h1
					#intro-line.text-center
						Share
						&nbsp
						="-"
						Vote
						&nbsp
						="-"
						Discuss
				