%nav.navbar{role: "navigation", id: 'user-nav'}
	.row
		.col-md-5
		.col-md-6
			%ul.nav.navbar-nav
				%li.custom-center
					- if current_user == @user
						=link_to "My Account", @user, class: "tribe-nav-links #{'active' if current_page?(@user)}"
					-else
						=link_to "#{@user.username}", @user, class: "tribe-nav-links #{'active' if current_page?(@user)}"
				%li.custom-center
					- if current_user == @user
						=link_to "My Profile", edit_user_registration_path, class: "tribe-nav-links #{'active' if current_page?(edit_user_registration_path)}"

